body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0; /* Cor de fundo para um contraste mais suave */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    border: 5px solid black;
    max-width: 350px;
    box-shadow: 10px 10px 10px 10px red;
    background-color: #fff; /* Cor de fundo do cartão */
    padding: 20px;
    box-sizing: border-box;
}

.nome h1 {
    margin: 0;
}

.image {
    margin: 10px 0;
    border-radius: 50%;
    overflow: hidden; /* Para garantir que a imagem fique dentro do círculo */
    background-color: red;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image img {
    width: 100%;
    height: auto;
}

.curso, .redeSocial, .contato {
    margin: 10px 0;
    text-align: center;
}

.curso h5 {
    margin: 0;
}

.redeSocial a, .contato a {
    text-decoration: none;
    color: black; /* Ajuste a cor do link conforme necessário */
}

.contato {
    background-color: green;
    padding: 10px;
    border-radius: 10px;
    width: fit-content; /* Ajusta a largura ao conteúdo */
    color: white;
}

.contato a {
    color: white;
}
